################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/x64/Release
/.vs
/image.ppm
/Ray-Tracing-In-One-Weekend.sln
/Ray-Tracing-In-One-Weekend.vcxproj
/Ray-Tracing-In-One-Weekend.vcxproj.filters
/Ray-Tracing-In-One-Weekend.vcxproj.user
